@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Spinnaker&subset=latin,cyrillic);

body{
    margin: auto;
}

.logo{
    color: #C51D34;
    font-family: 'Spinnaker', Arial, sans-serif;
    font-size: 82px;
    text-align: center;
}
.logo div.slogan{
    font-family: 'Poiret One', cursive;
    font-size: 42px;
}

a{
    color: #2F353B;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    text-decoration: none;
    margin: 15px;
}
a:hover{
    color: #C51D34;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    text-decoration: none;
    margin: 15px;
}

.locale-linklist{
    text-align: center;
    margin: 30px;
}